# -- CodeTri.net
codetri.net {
	header -server
	encode gzip

	log {
		output file /var/log/caddy/codetri.log
		format json
	}

	# Serve the downloads folder as a browsable page
	file_server /dl/ browse {
		root /var/www/codetri
	}

	# Serve the site as a site
	file_server {
		root /var/www/codetri
		hide .*
	}

	handle_errors {
		redir https://codetri.net/404.html
	}
}
www.codetri.net {
	header -server
	redir https://codetri.net{uri} permanent
}

# --- CodeTri Playground
demo.codetri.net {
	header -server
	encode gzip

	log {
		output file /var/log/caddy/codetri-playground.log
		format json
	}

	reverse_proxy 127.0.0.1:5000
}

# --- CodeTri Blog
blog.codetri.net {
	header -server
	encode gzip

	# Increase file upload size
	request_body {
		max_size 100MB
	}

	reverse_proxy 127.0.0.1:5004
}

# --- CodeTri Podcast
podcast.codetri.net {
	redir https://anchor.fm/cely717 303
}

# --- CodeTri Webhook
webhook.codetri.net {
	header -server
	reverse_proxy 127.0.0.1:6000
}

# -- fromabcthrough.xyz
fromabcthrough.xyz {
	header -server
	redir https://codetri.net{uri} permanent
}
www.fromabcthrough.xyz {
	header -server
	redir https://codetri.net{uri} permanent
}

# -- Vanir
dashboard.fromabcthrough.xyz {
	# Don't expose the server name
	header -server

	# Don't expose the Host header
	header -host

	# Enable gzip compression
	encode gzip

	# Increase file upload size
	request_body {
		max_size 1GB
	}

	# Handle all error responses with a cat
	# TODO Do this the real way
	handle_errors {
		rewrite * /{http.error.status_code}
		reverse_proxy https://http.cat {
			header_up Host http.cat
		}
	}

	log {
		output file /var/log/caddy/dashboard.log
		format json
	}

	# Proxy all traffic to the web container
	reverse_proxy 127.0.0.1:6002
}
