# -- CodeTri.net
codetri.net {
	header -server
	encode gzip

	log {
		output file /var/log/caddy/codetri.log
		format json
	}

	# Serve the downloads folder as a browsable page
	file_server /dl/ browse {
		root /var/www/codetri
	}

	# Serve the site as a site
	file_server {
		root /var/www/codetri
		hide .*
	}

	handle_errors {
		redir https://codetri.net/404.html
	}
}
www.codetri.net {
	header -server
	redir https://codetri.net{uri} permanent
}

# --- CodeTri Playground
demo.codetri.net {
	header -server
	encode gzip
	root * /var/www/playground
	php_fastcgi 127.0.0.1:5000
	file_server
}

# --- CodeTri Blog
blog.codetri.net {
	header -server
	encode gzip

	# Increase file upload size
	request_body {
		max_size 100MB
	}

	reverse_proxy 127.0.0.1:5004
}

blog2.codetri.net {
	header -server
	encode gzip

	# Increase file upload size
	request_body {
		max_size 100MB
	}

	reverse_proxy 127.0.0.1:5005 {
		# header_up X-Forwarded-Proto {scheme}
		header_up X-Frame-Options SELF
	}
}

# --- CodeTri Webhook
webhook.codetri.net {
	header -server
	reverse_proxy 127.0.0.1:6000
}

# --- Additional sites
import sites-available/redirects
